:root{
    --gray: #8F8F8F
}
*{
    margin: 0;
    padding: 0;
 
    font-family: 'Poppins', sans-serif;
}
body {
    display: block;
}
.header {
    display: flex;
    justify-content: flex-end;
    padding: 10px; 
}
.menuItems {
    height: 10vh;
    display: flex;
}
.nav ul {
    list-style: none;
}
.nav ul li{
    display: inline-block;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 10px;
}
.nav ul li:hover {
    cursor: pointer;
    text-decoration: underline;
    transform: translate(10px, 5px) rotate(4deg);
}
.main {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 15px
}
.userOne, .userTwo{
    background-color:#ddd ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
            rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.userOne{
    background-color: #ebe4ac
}

.userOne i, .userTwo i {
    font-size: 4rem;
    padding: 20px;
}
.boardHeader{
    display:block;
}
.board , .resultGameBoard{
    display: grid;
    height: 80vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 15px;
    grid-gap: 1px;
    text-align: center;
    font-size: 6rem;  
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, 
                rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.slot1 {
    border-right: solid var(--gray);
    border-bottom: solid var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.slot2 {
    border-left: solid var(--gray);
    border-right: solid var(--gray);
    border-bottom: solid var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
}
.slot3 {
    border-left: solid var(--gray);
    border-bottom: solid var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;

}
.slot4{
    border-top: solid var(--gray);
    border-bottom: solid var(--gray);
    border-right: solid var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
}
.slot5{
    border: solid var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
}
.slot6{
    border-left: solid var(--gray);
    border-top: solid var(--gray);
    border-bottom: solid var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
}
.slot7 {
    border-top: solid var(--gray);
    border-right: solid var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
}
.slot8 {
    border-top: solid var(--gray);
    border-left: solid var(--gray);
    border-right: solid var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
}
.slot9{
    border-top: solid  var(--gray);
    border-left: solid var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;

}

.announceWinner {
    display: none;
    border:  solid var(--gray);
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 80vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, 
                rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.scoreBoard{
    font-size: 2rem;
    font-weight: bold;
}
.newGame {
    justify-items: center;
    margin: 25px;
    padding: 10px 25px;
    font-size: 1rem;
    font-weight: bold;
}
h2{
    font-size: 1.8rem;;
}
.reset {
    position: absolute;
    bottom:25px;
    right: 25px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
}

footer {
    position: absolute;
    left: 0;
    bottom: auto;
    margin-top: 40px;
    height: 10px;
    width: 100%;
    font-size:1.5em;
    text-align: center;   
}
.copyright {
    position:absolute;
    margin: auto;
    font-size: 16px;
    bottom: 0;
    left: 50vw
}
.button{
    background-color: #ddd;
    border-radius: 5px;
}
.button:hover {
    background-color: #444;
    color: #fff
}
.about{
    width: 80vw;
    margin: auto;
    display: none;
}
.contact, .mobileMenu {
    display: none;
}
.messageBox{
    width: 90%;
    margin: auto;
    border-radius: 15px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 20px 20px 50px grey;
}
.messageBox h2{
    color:rgba(255, 255, 255, 0.9)
}
.messageBox form{
    width: 40%;
    background: #888;
    border-radius: 2rem;
    text-align: left;
    padding: 2rem;
    margin-bottom: 4rem;
}
.messageBox label{
    background: transparent;
    color:rgba(255, 255, 255, 0.9);
    font-size: 1.3rem;
}
.messageBox input, .messageBox textarea {
    width: 100%;
}
.messageBox textarea{
    margin-bottom: 1rem;
}
.messageBox button, .messages button{
    padding: 0.5rem 2.5rem;
    border-radius: 1rem;
}
.messageBox button:hover, .messages button:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color:rgba(255, 255, 255, 1);
}
.icons{
    font-size: 4rem;
    
}
.icons a{
    text-decoration: none;
    color: #888;
}
.about h1{
    text-align: center;
}
.about h1, .about h2, .about p{
    padding: 10px 0;
}
.about P{
    text-align: justify;
}

@media screen and (max-width:1024px) {
    .menuItems{
        display: flex;
    }
    .main{
        display: grid;
        grid-template-areas: 
            "user1 board"
            "user2 board";
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto;
    }
    .userOne{
        grid-area: user1;
        height: 39vh;
        font-size: 1.3rem;
    }
    .userTwo {
        grid-area: user2;
        height: 39vh;
        font-size: 1.3rem;
    }
    .boardHeader {
        grid-area: board;
        grid-row-end: -1;
    }
    .userOne i, .userTwo i{
        font-size: 3rem;
        padding: 15px;
    }
    .nav {
        height: 6vh;
    }
   .reset{
       bottom: 10px;
       right: 10px
   }
}

@media screen and (min-width:320px) and (max-width:799px){
    .mobileMenu{
        display: block;
        position: fixed;
        top: 10px;
        right: 15px;
        font-size: 24px;
        cursor: pointer;
        color: #000;
        z-index: 100;
    }
   
    .menuItems {
        position: fixed;
        right: 0;
        height: 100vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--gray);
        z-index: 99;
        display: none;
    }
   
    .menuItems li { 
        color:#fff;
    }

    h2{
        font-size: 25px;
    }
    .main{
        display: grid;
        grid-template-areas: 
            "user1 user2"
            "board board";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .userOne{
        grid-area: user1;
        height: 20vh;

    }
    .userTwo {
        grid-area: user2;
        height: 20vh;
    }
    .boardHeader {
        grid-area: board;
        grid-column-start: 1;
        grid-column-end: 3;
       
    }
    .board, .announceWinner{
        height: 60vh;
    }
    .userOne i, .userTwo i{
        font-size: 2rem !important;
        padding: 2px !important;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 16px;
    }
    .header{
        height: 0vh;
    }
    .reset {
       
        bottom:10px;
        right: 5px;
        padding: 5px 10px;
        font-size: 1rem;
        font-weight: bold;
    }

    }
    .board{
        font-size: 4rem;
        padding: 0;
    }
    .messageBox form{
        width: 70vw;
        height: 60vh;
    }
    .messageBox textarea{
        height: 30vh;
    }
}
