* {
    margin: 0;
    padding: 0;
    /* background: rgba(60, 60, 60, 0.8); */
    /* color: rgba(255, 255, 255, 1); */
    font-family: 'Poppins', sans-serif;
}
body {
    display: block;
}
.header {
    display: flex;
    justify-content: flex-end;
    padding: 10px; 
}

.nav ul {
    list-style: none;
}
.nav ul li{
    display: inline-block;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 10px;
}
.main {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 15px
}
.userOne, .userTwo{
    border: red solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 15px;
}
.userOne i, .userTwo i {
    font-size: 4rem;
    padding: 20px;
}
.boardHeader{
    display:block;
}
.board , .resultGameBoard{
    display: grid;
    height: 80vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: blue solid;
    border-radius: 15px;
    grid-gap: 1px;
    text-align: center;
    font-size: 6rem;  
}
.slot1 {
    border-right: solid;
    border-bottom: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slot2 {
    border-left: solid ;
    border-right: solid ;
    border-bottom: solid ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slot3 {
    border-left: solid ;
    border-bottom: solid ;
    display: flex;
    justify-content: center;
    align-items: center;

}
.slot4{
    border-top: solid ;
    border-bottom: solid ;
    border-right: solid ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slot5{
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slot6{
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slot7 {
    border-top: solid ;
    border-right: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slot8 {
    border-top: solid;
    border-left: solid;
    border-right: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slot9{
    border-top: solid;
    border-left: solid ;
    display: flex;
    justify-content: center;
    align-items: center;

}

.announceWinner {
    display: none;
    border:  solid black;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 80vh;
}
.scoreBoard{
    font-size: 2rem;
    font-weight: bold;
}
.newGame {
    justify-items: center;
    margin: 25px;
    padding: 10px 25px;
    font-size: 1rem;
    font-weight: bold;
}
.reset {
    position: absolute;
    bottom:25px;
    right: 25px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
}

footer {
    grid-area: footer;
    text-align: center;
    font-size: 30px;
    color: gray
}
footer p {
    font-size: 16px;
    bottom: 0;
}